@model IEnumerable<Echelon.TimelineApi.Timeline>

@{
    ViewData["Title"] = "Timeline Register";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New Timeline</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="TimelineEvents" asp-action="Index" asp-route-timelineId="@item.Id">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTimeStamp)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="timelines" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-controller="timelines" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
