@model Echelon.TimelineApi.TimelineEvent
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="row">
    <div>

       
        {

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(item => item.Id)
            </dt>
            <dd>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.TenantId)
            </dt>
            <dd>
                @Html.DisplayFor(item => item.TenantId)
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.Title)
            </dt>
            <dd>
                @Html.DisplayFor(item => item.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.Description)
            </dt>
            <dd>
                @Html.DisplayFor(item => item.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.IsDeleted)
            </dt>
            <dd>
                @Html.DisplayFor(item => item.IsDeleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.EventDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(item => item.EventDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(item => item.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            @Html.ActionLink("Previous Event", "Details", "TimelineEvent" /*,new { id = previousEvnet's.Id }*/) |
            @Html.ActionLink("Delete", "Delete" ) |
            @Html.ActionLink("Next Event", "Details","TimelineEvent" /*,new { id = previousEvnet's.Id}*/)
        </dl>
        }
    </div>
</div>
