@model TimelineEvent
@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="~/css/eventDetailed.css" rel="stylesheet" />
}
<div id="superAwesomeTester" style="display: none;">Banana</div>
<div class="container">
    <div class="col-sm-12">

        <div id="eventHeader">
            <div id="backArrow">

                <a class="arrowLink" onclick="goBack()" @*asp-action="Index" asp-route-timelineId="@ViewBag.TimelineId" *@><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="headerSection">
                <h2 class="mainHeader">@Model.Title </h2>
                <hr class="headerHR" />
                <h4><em>@Model.EventDateTime.ToString("dd MMMM yyyy")</em></h4>
            </div>


        </div>
    </div>
</div>




<!-- Tab Section Start -->
<div class="bgColor">
    <div>
        <div class="tabLinksContainer">
            <div class="tab">
                <button class="tablinks uppercase active" onclick="openTab(event, 'overview')">Overview</button>
                <button class="tablinks uppercase" onclick="openTab(event, 'attachments')">Attachments</button>
                <button class="tablinks uppercase" onclick="openTab(event, 'gallery')">Gallery</button>
                <button class="tablinks uppercase" onclick="openTab(event, 'location')">Location</button>

            </div>
        </div>
    </div>





    <!-- Tabs/Headings -->
    <!-- Overview TAB -->
    <div id="overview" class="tabcontent" style="display: block;">
        <div id="descriptionContent">
            @Html.Partial("Description", Model)
        </div>
    </div>

    <!-- Attachments TAB -->
    <div id="attachments" class="tabcontent">




        @if (Model.Attachments.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attachments)
                    {
                        <tr>
                            @if (!item.IsImage)
                            {
                                <td>
                                    <a asp-controller="Attachments" asp-action="Download" asp-route-attachmentId="@item.Id">@item.Title</a>

                                </td>
                                @*<a asp-controller="Attachments" asp-action="Details" asp-route-eventId="@ViewBag.EventId" asp-route-attachmentId="@item.Id">@item.Title</a>*@
                            }



                            @if (!item.IsImage)
                            {
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { eventId = ViewBag.EventId, attachmentId = item.Id })

                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p><em>There are no attachments to display.</em></p>
        }



        <br />


        <form method="post" enctype="multipart/form-data" asp-controller="Attachments" asp-action="Upload" asp-route-eventId="@ViewBag.EventId">
            <div class="form-group formDragAndDrop">
                @*<p>Upload one or more attachments:</p>*@
                <input id="fileUpload" type="file" name="files" multiple class="form-control dragAndDrop" />
            </div>

            <input type="submit" value="Upload" class="btn btn-default" />
        </form>


    </div>


    <!-- Gallery TAB -->
    <div id="gallery" class="tabcontent">


        @if (Model.AttachmentImagesCount > 0)
        {
            int i = 1;

            <div class="slideshow-container">
                @foreach (var item in Model.Attachments)
                {
                    @if (item.IsImage)
                    {
                        <div class="mySlides">
                            <div class="numbertext">@i / @Model.AttachmentImagesCount</div>
                            <img src="@Url.AttachmentLink(item)" style="width:100%" object-fit contain>
                            <div class="text">@item.Title</div>
                        </div>
                        i++;
                    }
                }



                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <br>
            <div style="text-align:center">

                @if (Model.AttachmentImagesCount > 0)
                {
                    int j = 1;
                    foreach (var item in Model.Attachments)
                    {

                        if (item.IsImage)
                        {


                            <span class="dot" onclick="currentSlide(@j)"></span>


                            j++;
                        }

                    }

                }
            </div>
        }


        <br />
        <br />

        <form method="post" enctype="multipart/form-data" asp-controller="Attachments" asp-action="Upload" asp-route-eventId="@ViewBag.EventId">
            <div class="form-group formDragAndDrop">
                @*<p>Upload one or more attachments:</p>*@
                <input id="fileUpload" type="file" name="files" multiple class="form-control dragAndDrop" />
            </div>

            <input type="submit" value="Upload" class="btn btn-default" />
        </form>
    </div>


    <!-- Location TAB -->
    <div id="location" class="tabcontent">
        <p>Location is the capital of Japan.</p>

        <div id="googleMap" style="height:400px; width: 100%;"></div>

        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(51.508742, -0.120850),
                    zoom: 5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfblapLmgaCE0GVpChYqSoGMJ8ik09IZA&callback=myMap"></script>
    </div>

</div>

<div id="bottomEventNav">
    <div class="btnContainer">
        @if (@ViewBag.PreviousEvent != null)
        {
            <a class="button btnEvent uppercase" asp-action="details" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@ViewBag.PreviousEvent.Id"><i style="color: white;" class="leftArrow"></i>  @ViewBag.PreviousEvent.Title</a>
        }
        <a class="button btnEvent uppercase" asp-action="delete" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@Model.Id">Delete</a>
        @if (@ViewBag.NextEvent != null)
        {
            <a class="button btnEvent btnRight uppercase" asp-action="details" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@ViewBag.NextEvent.Id">@ViewBag.NextEvent.Title  <i class="rightArrow"></i></a>
        }
    </div>
</div>


<script>
    function goBack() {
        window.history.back();
    }

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>


<!-- Image Gallery Scripts -->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

@section scripts {
    <script>
        function handleEditDescriptionCancel(id) {
            $('#cancelEditDescriptionBtn').click(function (evt) {
                $.get('/TimelineEvents/Description/' + id, function (data) {
                    $('#descriptionContent').html(data);
                    handleEditDescription();
                });
            });
        }

        function handleEditDescription() {
            $('#editDescriptionLink').click(function (evt) {
                evt.preventDefault();

                var id = $('#editDescriptionLink').attr('data-id');
                $.get('/TimelineEvents/DescriptionEdit/' + id, function (data) {
                    $('#descriptionContent').html(data);

                    $('#editDescriptionForm').on('submit', function (evt) {
                        evt.preventDefault();
                        disableFormElement('#editDescriptionBtn', true);

                        var data = $('#editDescriptionForm').serialize();
                        $.post('/TimelineEvents/DescriptionEditPost/' + id, data, function (data) {
                            $('#descriptionContent').html(data);
                            handleEditDescriptionCancel(id);
                            handleEditDescription();
                        });
                    });

                    handleEditDescriptionCancel(id);

                });
            });
        }

        $(function () {
            handleEditDescription();
        });
    </script>
}