@model Echelon.TimelineApi.TimelineEvent
@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Event Detail</h2>

        <p><a asp-action="Index" asp-route-id="@ViewBag.TimelineId">Back to timeline</a></p>

        <h3>@Model.Title</h3>
        <p>Date: @Model.EventDateTime</p>
        <p>Location: @Model.Location</p>
        <p>Description: @Model.Description</p>

        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id" onclick = "return confirm('Are you sure you wish to delete this event?');">Delete</a>
    </div>
</div>
