@model TimelineEvent
@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Description</h2>

        <h3>@Model.Title</h3>
        <p>Date: @Model.EventDateTime</p>
        <p>Location: @Model.Location</p>
        <p>Description: @Model.Description</p>

        <p>
            <a asp-action="index" asp-controller="attachments" asp-route-eventId="@Model.Id" asp-route-timelineId="@ViewBag.TimelineId">Attachments</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
            <a asp-action="Index" asp-route-timelineId="@ViewBag.TimelineId">Back to timeline</a>
        </p>
    </div>
</div>
