@model IEnumerable<Echelon.TimelineApi.TimelineEvent>
@{
    ViewData["Title"] = "Timeline Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>`@ViewBag.TimelineTitle` Timeline</h2>

<p class="text-right">
    <a asp-action="Create" asp-route-timelineId="@ViewBag.TimelineId">Create New Event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evt in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-eventId="@evt.Id" asp-route-timelineId="@ViewBag.TimelineId">@evt.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => evt.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => evt.EventDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => evt.Location)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-eventId="@evt.Id" asp-route-timelineId="@ViewBag.TimelineId">Edit</a> |
                    <a asp-action="Delete" asp-route-eventId="@evt.Id" asp-route-timelineId="@ViewBag.TimelineId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


