@model IEnumerable<Echelon.TimelineApi.TimelineEvent>
@{
    ViewData["Title"] = "Timeline Events";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button id="addEventBtn" title="Add Event">&#43;</button>

@*Side Panel - Will Display all Headings*@

<div id="mainSidePanel">
    @*<div class="container body-content">
        </div>*@
    <div class="headerSection">
        <h2 class="mainHeader">@ViewBag.TimelineTitle </h2>
        <hr class="headerHR" />
        <h4><em>@ViewBag.TimelineCreationTimeStamp.ToString("dd MMMM yyyy")</em></h4>
    </div>


    <hr />


    <div id="mySidenav" class="sidenav">
        <!-- Arrow Collapse        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></a>
        -->
        <div id="sideNavArrows">
            <span onclick="openNav()" id="rightArrowVisibility"><i class="rightArrow"></i></span>
            <span class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></span>
        </div>


        <hr class="sidPanelHR" />

        <div id="searchBox">
            &nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string, new { placeholder = "Search..." })
        </div>

        <div id="eventNameList">

            @foreach (var item in Model)
            {
                <a href="#">@item.Title</a>

            }

        </div>
    </div>



    @*-----------------------------------------------------------------------------*@


    <div class="timeline">


        @{
            int eventCount = -1;
            string cssClassIdentifier = "";

            foreach (var item in Model)
            {
                eventCount += 1;

                if (eventCount % 2 == 0)
                { cssClassIdentifier = "left"; }
                else
                { cssClassIdentifier = "right"; }


                <div class="containerTimeline @cssClassIdentifier  ">

                    <div class="eventContent">
                        <div class="eventDateSection">
                            <div class="eventDateTime">
                                <h3 class="eventDate">@item.EventDateTime.ToString("MMM dd")</h3>
                                <p>@item.EventDateTime.ToString("HH:mm")</p>
                            </div>
                            <div class="eventIconDisplay">
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon"></div>
                                </div>
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon">4</div>
                                </div>
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon">4</div>
                                </div>
                            </div>
                        </div>

                        <div class="eventBodySection">
                            <div class="eventContentPadding">
                                <h3 class="eventDate uppercase"><a asp-action="details" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id">@item.Title</a></h3>
                                <p>
                                    @if (item.Description != null && item.Description.Length >= 150)
                                    {
                                        @item.Description.Substring(1, 150)
                                    }
                                    else
                                    {
                                        @item.Description
                                    }
                                </p>
                                <p class="editDelete">
                                    <a href="javascript:void(0);" class="modal-link-edit" data-id="@item.Id">edit</a>
                                    /
                                    <a asp-action="delete" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id">delete</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
        }


    </div>
    <div class="backToTopContainer">


        <span onclick="topFunction()"><i class="backToTop"></i></span>

    </div>

</div>

@*<p class="text-right">
        <a asp-action="Create">Create New Event</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you wish to delete this event?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section Scripts{
<script>
    var url = "@Url.Action("Create", "TimelineEvents", new { timelineId=ViewBag.TimelineId })";

    function openNav() {
        document.getElementById("mySidenav").style.width = "200px";
        document.getElementById("mainSidePanel").style.marginLeft = "200px";
        document.getElementById("rightArrowVisibility").style.visibility = 'hidden';
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "20px";
        document.getElementById("mainSidePanel").style.marginLeft = "20px";
        document.getElementById("rightArrowVisibility").style.visibility = 'visible';
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function displayCreateModal(data) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ "backdrop": "static", keyboard: true });
        $('#myModal').modal('show');

        // Hook event to Create view form.
        $('#create-event-form').on('submit', function (e) {
            e.preventDefault();

            var data = $('#create-event-form').serialize();
            $.post(url, data, function (response) {
                console.log(response);
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events/' + eventId;
                    $('#myModal').modal('hide');
                }
                else {
                    displayCreateModal(response);
                }
            }, 'html');
        });
    }

    function displayEditModal(data, id) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ "backdrop": "static", keyboard: true });
        $('#myModal').modal('show');

        // Hook event to edit view form.
        $('#edit-event-form').on('submit', function (e) {
            e.preventDefault();

            var data = $('#edit-event-form').serialize();
            $.post('/timelines/@ViewBag.TimelineId/events/' + id + '/edit', data, function (response) {
                console.log(response);
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events';
                    $('#myModal').modal('hide');
                }
                else {
                    displayEditModal(response, id);
                }
            }, 'html');
        });
    }

    $(function () {
        $("#addEventBtn").click(function () {
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/html; charset=utf-8",
                datatype: "html",
                success: function (data) {
                    displayCreateModal(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(".modal-link-edit").click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: "GET",
                url: "/Timelines/" + "@ViewBag.TimelineId" + "/Events/" + id +"/Edit",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    displayEditModal(data, id);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

</script>

}
