@model IEnumerable<Echelon.TimelineApi.TimelineEvent>
@{
    ViewData["Title"] = "Timeline Events";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button id="addEventBtn" title="Add Event">&#43;</button>

@*Side Panel - Will Display all Headings*@

<div id="mainSidePanel">
    @*<div class="container body-content">
        </div>*@
    <div class="headerSection">
        <h2 class="mainHeader">@ViewBag.TimelineTitle </h2>
        <hr class="headerHR" />
        <h4><em>@ViewBag.TimelineCreationTimeStamp.ToString("dd MMMM yyyy")</em></h4>
    </div>

    <hr />


    <div id="mySidenav" class="sidenav" onclick="openNav()" @*MieAdded*@>
        <!-- Arrow Collapse        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></a>
        -->
        <div id="sideNavArrows">
            <span onclick="openNav()" id="rightArrowVisibility"><i class="rightArrow"></i></span>
            <span class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></span>
        </div>


        <hr class="sidPanelHR" />

        <div id="searchBox">
            &nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string, new { htmlAttributes = new { id="myInput", placeholder = "Search..." } })

            <input type="text" id="myInput" onkeyup="search()" placeholder="Search for title and description input value.." title="Search for title and description input value.." /> @*mie added*@
            <div id="eventNameList">

            </div>



            @foreach (var item in Model)
            {
                <a href="#">@item.Title</a>

            }

        </div>
    </div>



    @*-----------------------------------------------------------------------------*@


    <div class="timeline">


        @{
            int eventCount = -1;
            string cssClassIdentifier = "";

            foreach (var item in Model)
            {
                eventCount += 1;

                if (eventCount % 2 == 0)
                { cssClassIdentifier = "left"; }
                else
                { cssClassIdentifier = "right"; }


                <div class="containerTimeline @cssClassIdentifier  ">

                    <div class="eventContent">
                        <div class="eventDateSection">
                            <div class="eventDateTime">
                                <h3 class="eventDate">@item.EventDateTime.ToString("MMM dd")</h3>
                                <p>@item.EventDateTime.ToString("HH:mm")</p>
                            </div>
                            <div class="eventIconDisplay">
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon"></div>
                                </div>
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon">4</div>
                                </div>
                                <div class="col-md-4 iconSection">
                                    <div class="eventIcon">&#xe142;</div>
                                    <div class="eventIcon">4</div>
                                </div>
                            </div>
                        </div>

                        <div class="eventBodySection">
                            <div class="eventContentPadding">
                                <h3 class="eventDate uppercase textInput @*MieAdded*@"><a asp-action="details" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id" >@item.Title</a></h3>
                                <p>
                                    @if (item.Description.Count() >= 150)
                                    {
                                        @item.Description.ToString().Substring(1, 150)
                                    }
                                    else
                                    {
                                        @item.Description
                                    }
                                </p>
                                <p class="editDelete">
                                    <a href="javascript:void(0);" class="modal-link-edit" data-id="@item.Id"> Edit</a>
                                    /
                                    <a asp-action="delete" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id">delete</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
        }


    </div>
    <div class="backToTopContainer">


        <span onclick="topFunction()"><i class="backToTop"></i></span>

    </div>

</div>


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
    @*Mie Added*@
    function search() {
    var searchstr, filter, form, input, inputvalue, i, j;
    searchstr = document.getElementById("myInput");
    filter = searchstr.value.toUpperCase();
    form = document.getElementsByClassName("eventContent");
        for (j = 0; j < form.length; j++){
            input = form[j].getElementsByClassName("textInput");
                            var stringcontaincounter=0;
                            for (i=0; i < input.length; i++) {
            //inputvalue = input[i].value;
                                inputvalue = input[i].outerText;
            if (inputvalue.toUpperCase().indexOf(filter) > -1) {
                stringcontaincounter+=1;
            }
        }
        if(stringcontaincounter>0){

            form[j].style.display = "";
        } else {
            form[j].style.display = "none";

        }

    }
}
    </script>

<script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "200px";
            document.getElementById("mainSidePanel").style.marginLeft = "200px";
            document.getElementById("rightArrowVisibility").style.visibility = 'hidden';
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "20px";
            document.getElementById("mainSidePanel").style.marginLeft = "20px";
            document.getElementById("rightArrowVisibility").style.visibility = 'visible';
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $(function () {
            $("#addEventBtn").click(function () {
                var createurl = "@Url.Action("Create", "TimelineEvents", new { timelineId=ViewBag.TimelineId })";

                $.ajax({
                    type: "GET",
                    url: createurl,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal({ "backdrop": "static", keyboard: true });
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

        $(function () {
            $(".modal-link-edit").click(function () {
                //debugger;
                var id = $(this).attr('data-id');
                var editurl = "/Timelines/" + "@ViewBag.TimelineId" + "/Events/" + id +"/Edit";
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: editurl,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });


</script>

}
