@model IEnumerable<TimelineEvent>
@{
    ViewData["Title"] = "Timeline Events";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section AddToHead{

    <link href="~/css/partialViewCSS.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
}




<div class="topPanel sticky text-center" id="myTopPanel">
    <div id="topNavArrow"  onclick="openTopNav()">
        <div id="arrowsSidePanel"><i id="arrowChangeTop" class="downArrow"></i></div>
    </div>

    <!-- Content for top nav -->


    <div id="topNavContent" style="visibility: hidden;">


        @if (Model.Any())
        {
            <!-- Zoomed In View - Default -->
            <div id="timelinePartial_In_LinksTop" style="visibility: visible;">
                <div id="eventNameListTop">

                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i = i + 1;
                            <a class="eventTitlesFilter uppercase" href="#eventLink-@item.Id">@i: @item.Title</a>
                        }
                    }

                </div>
            </div>
            <div id="timelinePartial_Out_LinksTop" style="visibility: visible; display: none;">
                <div id="eventNameListTopPartial">

                    @{
                        int j = 0;
                        foreach (var item in Model)
                        {
                            j = j + 1;
                            <a class="eventTitlesFilter uppercase" href="#eventLinks-@item.Id">@j: @item.Title</a>
                        }
                    }

                </div>
            </div>

        }
        else
        {
            <p>No Events Yet</p>

        }
    </div>
</div>


<script>
    // open top nav - only option when window width = 450px or less
    function openTopNav() {
        document.getElementById("myTopPanel").style.height = "180px";

        document.getElementById("topNavArrow").removeEventListener("click", openTopNav);
        document.getElementById("topNavArrow").addEventListener("click", closeTopNav);

        document.getElementById("arrowChangeTop").classList.remove("downArrow");
        document.getElementById("arrowChangeTop").classList.add("upArrow");

    }

    // cloe top panel
    function closeTopNav() {

        document.getElementById("myTopPanel").style.height = "20px";

        // document.getElementById("arrowChangeTop").style.paddingTop = '5px';


        document.getElementById("topNavArrow").removeEventListener("click", closeTopNav);
        document.getElementById("topNavArrow").addEventListener("click", openTopNav);

        document.getElementById("arrowChangeTop").classList.remove("upArrow");
        document.getElementById("arrowChangeTop").classList.add("downArrow");


    }
</script>

<div class="container body-content">
    <button id="addEventBtn" title="Add Event">&#43;</button>

    <!--Side Panel - Will Display all Headings-->

    <div id="mainSidePanel">
        @*<div class="container body-content">
            </div>*@
        <div class="headerSection">
            <h2 class="mainHeader">@ViewBag.TimelineTitle </h2>
            <hr class="headerHR" />
            <h4><em>@ViewBag.TimelineCreationTimeStamp.ToString("dd MMMM yyyy")</em></h4>
        </div>


        <hr />





        <!-- Side Nav Content -->
        <div id="mySidenav" class="sidenav">
            <!-- Arrow Collapse        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></a>
            -->
            <!-- Searching for Events -->
            <div id="sideNavArrows" onclick="openNav()">
                <div" id="arrowsSidePanel"><i id="arrowChange" class="rightArrow"></i></div">
            </div>

            <br /><br />




            <div id="sideNavContent" style="visibility: hidden;">

                <div id="searchBox">
                    <input type="text" id="myInputSearchEvents" onkeyup="filterEventTitles()" placeholder="search events...">
                </div>


                @if (Model.Any())
                {
                    <!-- Zoomed In View - Default -->
                    <div id="timelinePartial_In_Links" style="visibility: visible;">
                        <div id="eventNameList">

                            @{
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i = i + 1;
                                    <a class="eventTitlesFilter uppercase" href="#eventLink-@item.Id">@i: @item.Title</a>
                                }
                            }

                        </div>
                    </div>
                    <div id="timelinePartial_Out_Links" style="display: none;">
                        <div id="eventNameListPartial">

                            @{
                                int j = 0;
                                foreach (var item in Model)
                                {
                                    j = j + 1;
                                    <a class="eventTitlesFilter uppercase" href="#eventLinks-@item.Id">@j: @item.Title</a>
                                }
                            }

                        </div>
                    </div>

                }
                else
                {
                    <p>No Events Yet</p>

                }
            </div>
        </div>
        <!-- END of sideNav -->






        @if (Model.Any())
        {

            @*--------------------------------------------------<i class="fas fa-search"></i>---------------------------*@
            <div class="text-center">
                <button id="btnPartialToggle" class="activeToggleButton" onclick="togglePartial()">DETAILED</button>
                <button id="btnPartialToggled" onclick="togglePartials()">OVERVIEW</button>
            </div>

            <br /><br /><br />

            <!-- Zoomed In View - Default -->
            <div id="timelinePartial_In" style="visibility: visible;">
                @Html.Partial("_TimelineZoomedIn")
            </div>
            <div id="timelinePartial_Out" style="display: none;">
                @Html.Partial("_TimelineZoomedOut")
            </div>

        }
        else
        {
            <p class="text-center"><a href="#" id="addEventLink">Add a new event!</a></p>
        }




            <div class="backToTopContainer" onclick="topFunction()">

                <span><i class="backToTop"></i></span>

            </div>
            <br /><br /><br /><br /><br /><br />
            </div>


            <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>
            </div>
            </div>



@section Scripts{

    <!-- Holds JS for partials view toggle functionality  -->
    <script>

        // change to detailed view
        function togglePartial() {


            // Detailed button - shows detailed/default view
            var detailed = document.getElementById("btnPartialToggle");

            // overview button - shows overview view
            var overview = document.getElementById("btnPartialToggled");

            // If no already active then set value - changing CSS
            if (!detailed.classList.contains("activeToggleButton")) {
                detailed.classList.add("activeToggleButton");
            }
            if (overview.classList.contains("activeToggleButton")) {
                overview.classList.remove("activeToggleButton");
            }



            var partial_In = document.getElementById("timelinePartial_In");
            var partial_Out = document.getElementById("timelinePartial_Out");


            //btnClick.innerHTML = "Detailed";
            partial_In.style.display = "block";
            partial_Out.style.display = "none";


            // Links in side panel
            var partial_In_Links = document.getElementById("timelinePartial_In_Links");
            var partial_Out_Links = document.getElementById("timelinePartial_Out_Links");

            partial_In_Links.style.display = "block";
            partial_Out_Links.style.display = "none";


            // Links in top panel
            var partial_In_LinksTop = document.getElementById("timelinePartial_In_LinksTop");
            var partial_Out_LinksTop = document.getElementById("timelinePartial_Out_LinksTop");

            partial_In_LinksTop.style.display = "block";
            partial_Out_LinksTop.style.display = "none";

        }

        // change to overview view 
        function togglePartials() {

            // Detailed button - shows detailed/default view
            var detailed = document.getElementById("btnPartialToggled");

            // overview button - shows overview view
            var overview = document.getElementById("btnPartialToggle");


            if (!detailed.classList.contains("activeToggleButton")) {
                detailed.classList.add("activeToggleButton");
            }
            if (overview.classList.contains("activeToggleButton")) {
                overview.classList.remove("activeToggleButton");
            }


            var partial_In = document.getElementById("timelinePartial_In");
            var partial_Out = document.getElementById("timelinePartial_Out");

            //btnClick.innerHTML = "Overview";
            partial_In.style.display = "none";
            partial_Out.style.display = "block";


            // Links in side panel
            var partial_In_Links = document.getElementById("timelinePartial_In_Links");
            var partial_Out_Links = document.getElementById("timelinePartial_Out_Links");

            // Links in side panel
            partial_In_Links.style.display = "none";
            partial_Out_Links.style.display = "block";
            
      
            // Links in top panel
            var partial_In_LinksTop = document.getElementById("timelinePartial_In_LinksTop");
            var partial_Out_LinksTop = document.getElementById("timelinePartial_Out_LinksTop");

            // Links in top panel
            partial_In_LinksTop.style.display = "none";
            partial_Out_LinksTop.style.display = "block";




        }
        </script>



        <script>
            window.onscroll = function () {myFunction()};

            var header = document.getElementById("myTopPanel");
            var sticky = header.offsetTop;

            //function myFunction() {
            //    if (window.pageYOffset >= sticky) {
            //        header.classList.add("sticky");
            //    } else {
            //        header.classList.remove("sticky");
            //    }
            //}
        </script>



    <script>

    var url = "@Url.Action("Create", "TimelineEvents", new { timelineId=ViewBag.TimelineId })";

    function filterEventTitles() {
        var input, filter, table, tr, td, i;

        input = document.getElementById("myInputSearchEvents");

        filter = input.value.toUpperCase();
        titles = document.getElementsByClassName("eventTitlesFilter");


        for (i = 0; i < titles.length; i++) {
            td = titles[i];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    titles[i].style.display = "";
                } else {
                    titles[i].style.display = "none";
                }
            }
        }
    }

   







    // open side panel
    function openNav() {
        document.getElementById("mySidenav").style.width = "230px";
        document.getElementById("mySidenav").style.marginLeft = "0px";
        document.getElementById("mainSidePanel").style.marginLeft = "230px";

        document.getElementById("sideNavContent").style.visibility = 'visible';
        document.getElementById("sideNavArrows").style.paddingLeft = '200px';
        document.getElementById("sideNavArrows").style.transition = '.5s';

        document.getElementById("sideNavArrows").removeEventListener("click", openNav);
        document.getElementById("sideNavArrows").addEventListener("click", closeNav);

        document.getElementById("arrowChange").classList.remove("rightArrow");
        document.getElementById("arrowChange").classList.add("leftArrow");
    }

    // close side panel
    function closeNav() {

        document.getElementById("mySidenav").style.width = "230px";
        document.getElementById("mySidenav").style.marginLeft = "-210px";
        document.getElementById("mainSidePanel").style.marginLeft = "20px";

        // side panel content GONE! - It's Magic
        document.getElementById("sideNavContent").style.visibility = 'hidden';
        document.getElementById("sideNavArrows").style.paddingLeft = '215px';


        document.getElementById("sideNavArrows").removeEventListener("click", closeNav);
        document.getElementById("sideNavArrows").addEventListener("click", openNav);

        document.getElementById("arrowChange").classList.remove("leftArrow");
        document.getElementById("arrowChange").classList.add("rightArrow");
    }

    function topFunction() {
        $("html, body").animate({ scrollTop:0 }, "fast");
    }

    function displayCreateModal(data) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ keyboard: true });
        $('#myModal').modal('show');

        // Hook event to Create view form.
        $('#create-event-form').on('submit', function (e) {
            e.preventDefault();

            disableFormElement('#btnSave', true);

            var data = $('#create-event-form').serialize();
            $.post(url, data, function (response) {
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events/' + eventId;
                    $('#myModal').modal('hide');
                }
                else {
                    displayCreateModal(response);
                }

                disableFormElement('#btnSave', false);
            }, 'html');
        });
    }

    function displayEditModal(data, id) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ keyboard: true });
        $('#myModal').modal('show');

        // Hook event to edit view form.
        $('#edit-event-form').on('submit', function (e) {
            e.preventDefault();

            disableFormElement('#btnSave', true);

            var data = $('#edit-event-form').serialize();
            $.post('/timelines/@ViewBag.TimelineId/events/' + id + '/edit', data, function (response) {
                console.log(response);
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events';
                    $('#myModal').modal('hide');
                }
                else {
                    displayEditModal(response, id);
                }

                disableFormElement('#btnSave', false);
            }, 'html');
        });
    }

    function displayDeleteModal(data, id) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ keyboard: true });
        $('#myModal').modal('show');

        // Hook event to edit view form.
        $('#delete-event-form').on('submit', function (e) {
            e.preventDefault();

            disableFormElement('#btnSave', true);

            var data = $('#delete-event-form').serialize();
            $.post('/timelines/@ViewBag.TimelineId/events/' + id + '/delete', data, function (response) {
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events';
                    $('#myModal').modal('hide');
                }
                else {
                    displayDeleteModal(response, id);
                }

                disableFormElement('#btnSave', false);
            }, 'html');
        });
    }

    $(function () {
        $("#addEventBtn,#addEventLink").click(function () {
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/html; charset=utf-8",
                datatype: "html",
                success: function (data) {
                    displayCreateModal(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(".modal-link-edit").click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: "GET",
                url: "/Timelines/" + "@ViewBag.TimelineId" + "/Events/" + id +"/Edit",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    displayEditModal(data, id);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $(".modal-link-delete").click(function (evt) {
            evt.preventDefault();

            handleDelete();
        });
    });

    </script>
}