@model IEnumerable<TimelineEvent>
@{
    ViewData["Title"] = "Timeline Events";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button id="addEventBtn" title="Add Event">&#43;</button>

@*Side Panel - Will Display all Headings*@

<div id="mainSidePanel">
    @*<div class="container body-content">
        </div>*@
    <div class="headerSection">
        <h2 class="mainHeader">@ViewBag.TimelineTitle </h2>
        <hr class="headerHR" />
        <h4><em>@ViewBag.TimelineCreationTimeStamp.ToString("dd MMMM yyyy")</em></h4>
    </div>


    <hr />





    <!-- Side Nav Content -->
    <div id="mySidenav" class="sidenav">
        <!-- Arrow Collapse        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></a>
        -->
        <div id="sideNavArrows">
            <!--<span class="closebtn" onclick="closeNav()"><i class="leftArrow"></i></span>

    <i class="rightArrow"></i>-->




            <div" id="arrowsSidePanel" onclick="openNav()" ><i id="arrowChange" class="rightArrow"></i></div">
        </div>

        <div id="sideNavContent" style="visibility: hidden;">
            <!--
                <hr class="sidPanelHR" />
            -->
            <div id="searchBox">
                &nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string, new { placeholder = "Search..." })
            </div>

            <div id="eventNameList">

                @{
                    int linkId = 1;
                    @foreach (var item in Model)
                    {

                        <a href="#eventLink + @linkId">@item.Title</a>
                        linkId += 1;
                    }
                }
            </div>
        </div>
    </div>



    @*-----------------------------------------------------------------------------*@


    <div class="timeline">


        @{
        int eventCount = -1;
        string cssClassIdentifier = "";

        int IdForLink = 0;

        foreach (var item in Model)
        {
            eventCount += 1;
            IdForLink += 1;
            if (eventCount % 2 == 0)
            { cssClassIdentifier = "left"; }
            else
            { cssClassIdentifier = "right"; }

            <div id="eventLink + @IdForLink" style="padding: 25px 0">

            </div>


            <div class="containerTimeline @cssClassIdentifier">

                <div class="eventContent">
                    <div class="eventDateSection">
                        <div class="eventDateTime">
                            <h3 class="eventDate">@item.EventDateTime.ToString("MMM dd")</h3>
                            <p>@item.EventDateTime.ToString("HH:mm")</p>
                        </div>
                        <div class="eventIconDisplay">
                            <div class="col-md-4 iconSection">
                                @if (item.Location != null)
                            {
                                <i class="fas fa-map-marker"></i>

                        }

                                <div class="eventIcon"></div>
                            </div>
                            <div class="col-md-4 iconSection">
                                <i class="eventIcon fas fa-paperclip"></i>
                                <div class="eventIcon">3</div>
                            </div>
                            <div class="col-md-4 iconSection">
                                <i class="far fa-image"></i>
                                <div class="eventIcon">4</div>
                            </div>
                        </div>
                    </div>

                    <div class="eventBodySection">
                        <div class="eventContentPadding">
                            <h3 class="eventDate uppercase"><a asp-action="details" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id">@item.Title</a></h3>
                            <p>
                                @if (item.Description != null && item.Description.Length >= 150)
                            {
                                @item.Description.Substring(1, 150)
                        }
                        else
                        {
                            @item.Description
                    }
                            </p>
                            <p class="editDelete">
                                <a href="javascript:void(0);" class="modal-link-edit" data-id="@item.Id">edit</a>
                                /
                                <a asp-action="delete" asp-route-timelineId="@ViewBag.TimelineId" asp-route-eventId="@item.Id">delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="padding: 20px 0">

            </div>
            <hr />
    }
        }


    </div>
    <div class="backToTopContainer">


        <span onclick="topFunction()"><i class="backToTop"></i></span>

    </div>

</div>


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    var url = "@Url.Action("Create", "TimelineEvents", new { timelineId=ViewBag.TimelineId })";

    function openNav() {
        document.getElementById("mySidenav").style.width = "200px";
        document.getElementById("mainSidePanel").style.marginLeft = "200px";

        document.getElementById("sideNavContent").style.visibility = 'visible';
        document.getElementById("sideNavArrows").style.paddingLeft = '160px';
        document.getElementById("sideNavArrows").style.transition = '.5s';

        document.getElementById("arrowsSidePanel").removeEventListener("click", openNav);
        document.getElementById("arrowsSidePanel").addEventListener("click", closeNav);


        document.getElementById("arrowChange").classList.remove("rightArrow");
        document.getElementById("arrowChange").classList.add("leftArrow");

        // Make sure flash-message changes position.
        $('.flash-messages').animate({ marginLeft: '200px'});
    }


    function closeNav() {
        document.getElementById("mySidenav").style.width = "20px";
        document.getElementById("mainSidePanel").style.marginLeft = "20px";


        // side panel content GONE! - It's Magic  
        document.getElementById("sideNavContent").style.visibility = 'hidden';
        document.getElementById("sideNavArrows").style.paddingLeft = '5px';


        document.getElementById("arrowsSidePanel").removeEventListener("click", closeNav);
        document.getElementById("arrowsSidePanel").addEventListener("click", openNav);

        document.getElementById("arrowChange").classList.remove("leftArrow");
        document.getElementById("arrowChange").classList.add("rightArrow");

        // Make sure flash-message changes position.
        $('.flash-messages').animate({ marginLeft: '20px' });
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function displayCreateModal(data) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ "backdrop": "static", keyboard: true });
        $('#myModal').modal('show');

        // Hook event to Create view form.
        $('#create-event-form').on('submit', function (e) {
            e.preventDefault();

            var data = $('#create-event-form').serialize();
            $.post(url, data, function (response) {
                console.log(response);
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events/' + eventId;
                    $('#myModal').modal('hide');
                }
                else {
                    displayCreateModal(response);
                }
            }, 'html');
        });
    }

    function displayEditModal(data, id) {
        $('#myModalContent').html(data);
        $('#myModal').modal({ "backdrop": "static", keyboard: true });
        $('#myModal').modal('show');

        // Hook event to edit view form.
        $('#edit-event-form').on('submit', function (e) {
            e.preventDefault();

            var data = $('#edit-event-form').serialize();
            $.post('/timelines/@ViewBag.TimelineId/events/' + id + '/edit', data, function (response) {
                console.log(response);
                if (response.startsWith('OK')) {
                    var eventId = response.split(' ')[1];
                    location.href = '/timelines/@ViewBag.TimelineId/events';
                    $('#myModal').modal('hide');
                }
                else {
                    displayEditModal(response, id);
                }
            }, 'html');
        });
    }

    $(function () {
        $("#addEventBtn").click(function () {
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/html; charset=utf-8",
                datatype: "html",
                success: function (data) {
                    displayCreateModal(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(".modal-link-edit").click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: "GET",
                url: "/Timelines/" + "@ViewBag.TimelineId" + "/Events/" + id +"/Edit",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    displayEditModal(data, id);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        // Hack to make flash message appear correctly when side bar is shown.
        $('.flash-messages').css('margin-left', '20px');
    });

</script>

}
